
header
{
	position: relative;
	height: 150px;
	background-color: aquamarine;
	opacity: 0.5;
}

.menu-cabecera ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.menu-cabecera ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.menu-cabecera ul li a
{
	display: block;
}

.menu-cabecera ul li:hover
{
	background-color: blue;
}

.estiloPropio1
{
	position: relative;
	font-size: 100px;
	float: left;
	color: lawngreen;
}

.estiloPropio2
{
	/*para limpiar bla bla*/
	/*clear: both;*/

	position: relative;
	font-size: 100px;
	float: left;
	color: olive;
	/* 1em es 16px */
	/* Esta instruccion se aplica a top left right botton */
	margin: 1em;
}

/* Fuente de: DaFont*/
/*Importa el tipo de letra, tantos como quisiera*/
@font-face
{
	font-family: letraUno;
	src: url("fuente/Catalunya.ttf");
}

p
{
	font-family: letraUno, sans-serif; /*Si no carga bien la fuente importada aplica la sans-serif*/
	font-size: 60px;
}