/*static, relative, fixed, sticky

Comportamiento propiedad postion, absolute, 

- No respeta el flujo o el orden de elementos en html
- Obedece a cambio de propiedad de top, left, bottom y right
*/

*{
	margin: 0;
	padding: 0;
}

/* importar tipo de letra*/

 @font-face{
 	font-family: letraMoon;
 	src: url("letras/Moonbright.ttf");
 }

@font-face{
 	font-family: letraLiu;
 	src: url("letras/LiuJianMaoCao.ttf");
 } 

 @font-face{
 	font-family: letraTotal;
 	src: url("letras/Modak-Regular.ttf");
 }

 body{
 	font-family: letraTotal, sans-serif;

 }

/*.primera{
	font-family: letraMoon, sans-serif;
 	font-size: 30px;
 }

 .segunda {
 	font-family: letraLiu, sans-serif;
 	font-size: 30px;	
 }
*/
/* etiqueta de línea con comportamiento de bloque
input{
	display: block;
	margin: 1em;
}
*//* ESTILOS DE HEADER Y ELEMENTOS INTERNOS*/
header{
	position: sticky;
	width: 100%;
	height: 100px;
	top:0px;
	background-color: orange;
	z-index: 998;
}

.menu_cabecera{
	position: relative;
	list-style: none;
	float: left;
}

.menu_cabecera li {
	position: relative;
	float: left;
	padding: 1em;
}

a{
	text-decoration: none;
	color: black;
}

nav{
	position: relative;
}




/* ESTILOS DE MAIN Y ELEMENTOS INTERNOS*/

/* El comportamiento del main será ......*/
main{
	position: relative;
	width: 60%;
	height: 300px;
	background-color: blue;
	/*float: left;*/
	/*display: inline-block;*/
}

.iconosEstiloPropio{
	font-size: 30px;
	color: white;
}

/* para poder incluir icono, necesito tanto el css como la carpeta fonts*/
 
.estiloPropio{
 	font-family: letraTotal;
 }

/*aside{
	position: absolute;
	width: 100%;
	left: 70%;
	top: 100px;
	height: 300px;
	background-color: yellow;
}
*/
/*
footer{
	position: relative;
	height: 200px;
	background-color: red;
}
*/
/*
#imagen {
	position: relative;
	background-color: black;
	z-index: 958;
	height: 120px;

}
*/
/*nav .cookie{
	position: fixed;
	top: 0px;
	background-color: green;
	width: 100%;
	height: 50px;
	z-index: 999;

}
*/
/*header nav {
	position: relative;
	background-color: purple;
	height: 50%;
	top: 50px;
}