
header{
	position: sticky;
	top: 0px;
	height: 150px;
	/*background-color: orange;*/
	/*opacity: 0.1;*/	
	/*z-index: ;*/
}

.menuCabecera ul{
	list-style: none;
	position: relative;
	float:left;
	margin: 0;
	padding: 0;
}

.menuCabecera ul li{
	position: relative;
	float:left;
	margin: 0;
	padding: 0;
}

.menuCabecera ul li a{
	display: block;
	text-decoration: none;
	color: blue;
	font-weight: 600;
	padding: 0 15px;
}

/*.menuCabecera ul li:hover{
	background-color: orange;
}
*/

.menuCabecera ul li ul{
	display: none;
	position: absolute;
	/*top: ;
	left: ;*/
}

.menuCabecera ul li ul li{
	float: none;
	width: 200px;
}

.menuCabecera ul ul a{

}

.menuCabecera ul li:hover > ul{
	display:block;
} 

.menu_secundario{
	position: relative;
}

main{
	position: relative;
	width: 80%;
	height: 350px;
	margin: 0 auto;
	background-color: green;
	overflow: hidden;
}
	

.slider{
	position: relative;
	left:0px;
	width: 100%;
	height: 100%;
	animation: 10s carrusel infinite;
}

.slider img {
	width: 100%;
	height: 100%;
	margin-top: 0;
	display: block;
}


@keyframes carrusel {

	/* al ser en horizontal trabajo con left, al ser en vertical pensad si debéis hacerlo 
	con top*/
	0% {top:-300%;}
	25% {top:-300%;}
	40% {top: -200%;}
	55% {top: -200%;}
	60% {top: -100%;}
	80% {top: -100%;}
	85% {top: 0%;}
	100% {top:0%; }
}


aside{
	position: relative;
	height: 200px;
	background-color: blue;
}


article{
	position: sticky;
	top:180px;
	width: 100%;
	height: 300px;
}

.imagenPara{
	position: relative;
	width: 100%;
}

.imagenPara img{
	display: block;
	margin: 0 auto;
}

footer{
	clear: both;
	position: relative;
	height: 300px;
	/*background-color: yellow;*/
	/*opacity: 0.4;*/
}

.contenedor_footer{

	position: relative; 
	width: 30%; 
	height: 80%; 
	float: left; 
	background-color: green; 
	margin: 1em; 
	left: 1em;
}


.contenedor_footer iframe {
	display: block;
    margin: 0 auto;
    padding: 2em;
}


.lista_footer {
	list-style: none;
}

.contenedor_footer h3{
	text-align: center;
}






/* maquetación para tamaños de pantalla menor de 900px
@media screen and (max-width: 900px){

}

 only es para que dicha maquetación no la tenga cuenta navegadores antiguos
@media only screen and (max-width: 900px){

}

 tanto para pantallas como para impresiones. 
@media (max-width: 900px){

}

*/

@media screen and (max-width: 900px){

	aside{
		background-color: red;
	}
}

@media screen and (max-width: 700px) and (orientation: portrait){
	
	main {
		width: 95%;
		margin: 1em;
	}

	aside{
		display: none;
	}
}



/*

input.formularioAcceso {
	text-decoration: none;
	background: blue;
	border: 2px solid white;
	border-radius: 100px;
	background-color: blue;
	height: 100px;
	width: 10%;
	color: white;
}




*/






/*estilos de footer*/
/*
footer{
	position: relative;

	height: 80px;
	background-color: blue;
}
*/





/* ESTILO PROPIO DE ICONOS*/


.color-icono {
	position: relative;
	float: right;
	right:0px;
	color: purple;
	font-size: 20px;
	/* tanto el top, righ, bottom y left un margen de 16px*/
	/*margin:1em;*/

	/*margen en top,1, right 2, bottom 3 y left 14*/
	/*margin: 1em 2em 3em 14em;*/
	/*margen con top y bottom 1 em, y left y right 4em*/
	margin: 1% 4%;

}

.color-icono2{
	clear: both;
	position: relative;
	/*float: left;*/
}
