body
{
    background-image: url("../img/wallpaper.jpg");
}

h1
{
    font-family: 'Grenze', serif;
    color: darkcyan;
}

h4
{
    font-family: 'Grenze', serif;
    color: darkcyan;
}

#buttonNav
{
    background-color: rgb(25, 91, 158);
}