/*desde javascript se detecta el evento tal para incluir estos estilos*/
.tituloJS{
	color: red;
	text-decoration: none;
	margin:10px;
}

.modifico_estilo{
	color: blue;
	font-family: 'Tahoma';
}