*{
	padding: 0;
	margin: 0;
}

/* position static, 

1. Respeta el flujo de código, posicionará según los lea de html
2. No entiende o no codifica el top, left, right, bottom*/


/*position relative, 

1. Respecta el flujo de código, posiciona según lee de html
2. Entiende de top, left, right, bottom*/

/*position sticky. 

1. Al principio se comporta como un relative y al detectar scroll vertical y mediante un 
punto de ruptura o parada, pasa a comportarse como un fixed. 
2. fixed, elemento fijo en nuestra herramienta donde no cambia posición. 
*/

/*position fixed
1. Hace que no se respete el código de la página. 
2. Contenedores o elementos posteriores se posicionan en la misma posición
3. Entiende de top, bottom, left, right.*/

header {
	position: fixed;
	/*top:0px;*/
	/*top:100px;
	left:100px;*/
	width: 100%;
	height: 150px;
	background-color: orange;
	opacity: 0.5;
}

main {
	position: static;
	width: 100%;
	height: 600px;
	background-color: blue;
}

footer{
	width: 100%;
	height: 400px;
	background-color: yellow;
}


td, table, th {
	border: 3px solid green;
}

/*body{
	margin: 0px;
	padding: 0px;
}



ul{
	list-style: none;
	display: inline;
}
li {
	display: inline;
}
*/
	